/* 
	Fonts

	Monserrat 

	* Headings : regular 30px

	* Paragraph: regular 14px 

	* Header
		-	Navigation: regular 18px
		- Logo: bold 18px
		- Center : bold 92px
		- Small center: regular 20px

	* Carousel
		- Title: regular 20px

	* Carousel item
		- Title: Bold 48px
		- Subtitle: regular 14px

	* Where You Want to Go
		- Item Title: regular 30px
		- Item subtitle: regular 14px

	* Explore
		- title: regular 36px

	* Contact
		- Title: bold 92px
		- subscribe: regular 20px

	*Button
		- Text: Bold 18px

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body,
input {
  font-size: $default-fontsize;
  font-family: 'Montserrat', sans-serif;
}


.heading{
	font-size: 1.8rem;
	font-weight: $bold;

	&--light{
		color: $clr-text;
	}
}