// Colors
$clr-primary: #ed6950;
$clr-primary-dark: #693024;
$clr-secondary: #ffc74a;
$clr-secondary-dark: #b98000;
$clr-grey: #5c5d5d;
$clr-text: #606f81;
$clr-text-light: #bdc8d9;
$clr-text-dark: #232527;
$clr-white: #fff;
$clr-black: #000;

// Fonts
$default-fontsize: 1rem;
$bold: 700;
$regular: 400;
