.home {
  height: 120vh;

  background-image: linear-gradient(
      to left,
      rgba($clr-black, 0.8),
      rgba($clr-black, 0.8)
    ),
    url('../assets/bg-home.png');
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 4rem;
    font-weight: $bold;

    &--white {
      color: $clr-white;
    }
    &--primary {
      color: $clr-primary;
    }
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: $regular;
    color: $clr-grey;
  }
}

.carousel{
  
  height: 20vh;
  position: relative;

  &__heading{
    font-size: 0.8rem;
    font-weight: $regular;
    text-align: center;
    color: $clr-white;
    position: absolute;
    top: -125%;
    left: 50%;
    transform: translateX(-50%);
  }
}


.search{
  background: #fafafb;

}
