.card{
	border: none;
	box-shadow: $card-box-shadow;
	border-radius: 4px;

	&__column{
		&:not(:last-child){
			margin-bottom: 3rem;
		}
	}

	&__btn{
		box-shadow: $card-box-shadow;
		color: $clr-secondary-dark;
    background: $clr-secondary;
    font-size: 0.8rem;

    &:hover,
    &:focus {
      background: desaturate($clr-secondary, 20%);
    }
	}

	&__name, &__place{
		text-transform: capitalize;
	}

	&__name{
		color: $clr-text;
		font-size: 1.8rem;
		font-weight: $bold;
	}

	&__place{
		color: $clr-text-light;
		font-size: 1rem;
		font-weight: $regular;
	}
}