.card{
	border: none;
	box-shadow: $card-box-shadow;

	&__btn{
		box-shadow: $card-box-shadow;
		color: $clr-secondary-dark;
    background: $clr-secondary;

    &:hover,
    &:focus {
      background: desaturate($clr-secondary, 20%);
    }
	}

	&__name, &__place{
		text-transform: capitalize;
	}

	&__name{
		color: $clr-text;
		font-size: 1.8rem;
		font-weight: $bold;
	}

	&__place{
		color: $clr-text-light;
		font-size: 1rem;
		font-weight: $regular;
	}

	&:not(:last-child){
		margin-bottom: 3rem;
	}
}