.footer{
	background: #f8f8fa;
	position: relative;
  width: 100%;
  height: 50vh;
  max-height: 640px;
  flex-flow: column nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
	
	&::after{
		content: 'polind';
		position: absolute;
		text-transform: uppercase;
		font-size: 20vw;
		font-weight: $bold;
	  color: $clr-white;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__logo, &__rights{
		z-index: 2;
		position: relative;
	}

	&__rights{
		color: $clr-text;
		font-weight: $bold;
	}
	
}
