.header {
  position: fixed;
  width: 100%;
  background: $clr-text-dark;
  z-index: 9999;
  padding: 0 1.5rem;


 @include respond (tablet){
  background: transparent;
  position: absolute;
 }

 @include respond (desktop){
 	max-width: $max-width;
	left: 50%;
	transform: translate(-50%); 	
 }
}
